/* You can add global styles to this file, and also import other style files */

html,
body,
#root {
  height: 100%;
  background-color: #f0f0f0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.poke-card:hover {
  box-shadow: greenyellow !important;
}

a {
  list-style: none;
  text-decoration: none;
}
